name: Label issues

on:
  issues:
    types: [opened, reopened, edited]

permissions:
  issues: write

jobs:
  label_issues:
    name: Automatically label issues
    runs-on: ubuntu-latest
    steps:
      - uses: github/issue-labeler@v3.4
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/labeler.yml
          enable-versioned-regex: 0
          include-title: 1
